BOC.GSP.V2/WF/Engine/BOC.GSP.V2.WF.Engine/Service References/FunctionCallService/FunctionCallService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7742/FunctionCallService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOC.GSP.V2.WF.Common.Models" />
  <xs:import schemaLocation="http://localhost:7742/FunctionCallService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CallFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOC.GSP.V2.WF.Common.Models" minOccurs="0" name="value" nillable="true" type="q1:FunctionCallPara" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CallFunctionResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>