BOC.GSP.V2/WF/Engine/BOC.GSP.V2.WF.Engine/Service References/FunctionCallService/FunctionCallService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BOC.GSP.V2.WF.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BOC.GSP.V2.WF.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FunctionCallPara">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfigData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuntimeData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionCallPara" nillable="true" type="tns:FunctionCallPara" />
</xs:schema>